.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px;
}

.card {
    background-color: white;
    max-width: 1050px;
    padding: 30px;
    border-radius: 10px;
}