.container{
    padding-top: 60px;
    padding-bottom: 60px;

}
.content-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 10vh;
}


.card-mediunico:hover {
    background: linear-gradient(to right, #2177f8, #72a1e7 );
    color: white; /* Alterar a cor do texto durante o hover */
}

