.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    background-color: #ffffff; /* Cor de fundo dos cards */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
    text-align: justify;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card-reflexao:hover {
    background: linear-gradient(to left, yellow, brown);
    color: white;
}